<div class="row">
    <div class="span9 offset2">
        <div class="well">
            <p>
              <%= @exercise.description %>
             </p>
             <p>
              <%= @exercise.notes %>
            </p>

        
            <div class="row-fluid">
            <iframe width="800" height="700" src="<%= @exercise.video %>" frameborder="0" allowfullscreen></iframe>
            </div>


        
            <p>
            <%= link_to 'Edit', edit_exercise_path(@exercise) %> |
            <%= link_to 'Back', exercises_path %>
        </p>
        </div>
    </div>
</div>